@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  user-select: none;
}

_body {
  height:100vh;
  background: linear-gradient(45deg,blue,lime);
  color:#eee;
  display:grid;
  place-content: center;
  font-size: 1.4rem;
}

.pai {
  @apply h-screen bg-gray-100 text-white grid place-content-center;
}

button {
  @apply rounded-md py-2 px-4 my-0.5;
  /* @apply rounded-md text-4xl p-4; */
  /* @apply bg-indigo-100 text-black;  */
  /* @apply hover:bg-[rgba(0,0,0,.8)];  */
}